@import "./parts/vars.scss";
@import "./parts/base.scss";
@import "./parts/navs.scss";
@import "./parts/typo.scss";
@import "./parts/bane.scss";
@import "./parts/pane.scss";
@import "./parts/icon.scss";
@import "./parts/page.scss";
@import "./parts/wiki.scss";
@import "./sides/main.scss";
@import "./sides/tocs.scss";
@import "./sides/apps.scss";