@import "./parts/vars.scss";
@import "./parts/base.scss";
@import "./parts/navs.scss";
@import "./parts/typo.scss";
@import "./parts/bane.scss";
@import "./parts/page.scss";
@import "./parts/pane.scss";
@import "./parts/icon.scss";
@import "./sides/main.scss";
@import "./sides/post.scss";
@import "./sides/devs.scss";

.pages h1:before {
    font-weight: 600;
    counter-increment: h1;
    content: counter(h1) " | ";
    color: var(--orange-color);
}

.pages h2:before {
    font-weight: 500;
    counter-increment: h2;    
    color: var(--orange-color);
    content: counter(h1) "." counter(h2) " | ";
}

.pages h3:before {
    font-weight: 500;
    counter-increment: h3;
    color: var(--orange-color);
    content: counter(h1) "." counter(h2) "." counter(h3) " | ";
}

.pages h4:before {
    font-weight: 500;
    counter-increment: h4;
    color: var(--orange-color);
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " | ";
}

.pages h5:before {
    font-weight: 500;
    counter-increment: h5;
    color: var(--orange-color);
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " | ";
}

.pages h6:before {
    font-weight: 500;
    counter-increment: h6;
    color: var(--orange-color);
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " | ";
}

