
@import "./parts/vars.scss";
@import "./parts/base.scss";
@import "./parts/navs.scss";
@import "./parts/typo.scss";
@import "./parts/bane.scss";
@import "./parts/page.scss";
@import "./parts/pane.scss";
@import "./parts/icon.scss";
@import "./sides/main.scss";
@import "./sides/tocs.scss";


.termnavs {

    .header {
        gap: 0.75rem;
        color: #F8F8FF;
        font-weight: 500;
    }

    .header h1 {
        margin-top: 1.5em;
        margin-bottom: 3.5rem;
    }

    .divs {
        width: 100%;
        height: 0.063rem;
        background: #2D3444;
    }

    .header .vertical-line {
        margin: 0rem 1.2rem;
    }

    .vertical-line {
        width: 0.063rem;
        height: 1.5rem;
        margin:0;
        background: #2D3444;
        flex-shrink: 0;
    }

    .article {
        display: flex;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        padding: 0;
    }

    .article:hover .thumbnail img {
        transform: scale(1.05);
    }

    .article .thumbnail {
        width: clamp(8.75rem, 18vw, 12.5rem);
        height: clamp(6.25rem, 13vw, 8.75rem);
        flex-shrink: 0;
        margin: clamp(1rem,2vw,1.25rem);
        margin-left: 0;
        border-radius: 6px;
        overflow: hidden;
        background: #111;
        margin-top: clamp(0.75rem, 1.5vw, 1rem);
        margin-bottom: clamp(0.75rem, 1.5vw, 1rem);
    }

    .article .thumbnail img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .article .resumebox {
        flex: 1;
        display: flex;
        padding: clamp(1rem,2vw,1.25rem);
        flex-direction: column;
        gap: clamp(0.5rem, 1vw, 0.625rem);
        border-bottom: 1px solid #2D3444;
    }

    .article .divider {
        width: 0.063rem;
        background: #2D3444;
        flex-shrink: 0;
    }

    .article .title {
        font-size: clamp(15px, 1.5vw, 17px);
        font-weight: 600;
        color: #F8F8FF;
        margin: 0;
        line-height: 1.3;
        transition: color 0.3s ease;
    }


    .article .metas {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .article:hover .title {
        color: #ff4500;
    }

    .article .avatar {
        width: clamp(1.5rem, 2.5vw, 1.75rem);
        height: clamp(24px, 2.5vw, 1.75rem);
        border-radius: 50%;
    }

    .article .author {
        font-size: clamp(12px, 1.1vw, 13px);
        color: #F8F8FF;
        font-weight: 400;
    }

    .article .describ {
        font-size: clamp(12px, 1.1vw, 13px);
        line-height: 1.6;
        color: #F8F8FF;
        margin: 0;
    }

    .article .update {
        font-size: clamp(11px, 1vw, 12px);
        color: #F8F8FF;
        font-weight: 400;
        margin-left: auto;
    }
}