<div id="darkmodes" class="ml-a">
    <div class="flex center-x modes border-all ml-10 rounded-lg">
        <div class="mode systo" data-mode="1">
            <div class="icon sm">
                {{ partial "icon" "activity" }}
            </div>
        </div>
        <div class="mode darks" data-mode="2">
            <div class="icon sm">
                {{ partial "icon" "moon" }}
            </div>
        </div>
        <div class="mode light" data-mode="3">
            <div class="icon sm">
                {{ partial "icon" "sun" }}
            </div>
        </div>
    </div>
</div>