
/* ========== PANELS ========== */

.panel {
    display: flex;
    list-style: none;
    gap: clamp(0.75rem, 1.5vw, 1.125rem);
    margin-top: clamp(1.875rem, 4vw, 1rem);
    margin-bottom: clamp(0.625rem, 4vw, 0rem);

    a{
        color: #F8F8FF;
        text-decoration: none;
    }

    .item {
        display: flex;
        visibility: visible !important;
        align-items: center;
        gap: clamp(0.375rem, 0.8vw, 0.5rem);
        padding: clamp(0.75rem, 1.5vw, 1.25rem) clamp(0.5rem, 1vw, 0.75rem);
        text-decoration: none;
        font-size: clamp(13px, 1.1vw, 14px);
        color: #F8F8FF;
        transition: all 0.25s ease;
        border-radius: 8px;
        white-space: nowrap;
        cursor: pointer;
    }

    .item:hover .icon svg,
    .item.active .icon svg {
        stroke: #ff5f00;
    }

    .item span {
        transition: all 0.25s ease;
        opacity: 0.75;
    }

    .item:hover span,
    .item.active span {
        color: #ff5f00;
        opacity: 1;
    }

    .icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: clamp(1.75rem, 2.5vw, 2rem);
        height: clamp(1.75rem, 2.5vw, 2rem);
        border: 2px solid #2D3444;
        border-radius: 8px;
        transition: all 0.25s ease;
        padding: 4px;
    }
}


/* ========== RESPONSIVE ========== */
@media (max-width: 48rem) {

    .panel {
        flex-wrap: wrap;
        gap: 0.5rem;

        .item {
            padding: 0.625rem 0.5rem;
        }
    }
}

@media (max-width: 30rem) {

     .panel {

        .item span:not(.icon-wrapper) {
            display: none;
        }

        .item {
            padding: 0.625rem;
        }
    }
}