h1 {
    font-weight: 600; 
    line-height: 1.3; 
    text-transform: capitalize;
    font-size: unquote("clamp(1rem, 1.5vw + 1em, 1.5em)");  
}

h1.heading {
    font-size: unquote("clamp(1rem, 1.5vw + 1em, 1.9em)");
    margin-bottom: 2.5rem;
}

h2 {
    font-weight: 600;
    line-height: 1.3;
    font-size: unquote("clamp(1rem, 1.4vw + 1em, 1.4em)"); 
}

h3 {
    font-weight: 600;
    line-height: 1.3;
    font-size: unquote("clamp(1rem, 1.4vw + 1em, 1.3em)");
}

h4 {
    font-weight: 600;
    line-height: 1.3;
    font-size: unquote("clamp(1rem, 1.4vw + 1em, 1.275em)");
}

h5 {
    font-weight: 600;
    line-height: 1.3;
    font-size: unquote("clamp(1rem, 1.4vw + 1em, 1.197em)"); 
}

h6 {
    line-height: 1.3;
    font-weight: 600;
    color: var(--white6-color);
    font-size: unquote("clamp(1rem, 1.4vw + 1em, 1.197em)"); 
}

h1, h2, h3, h4, h5, h6 {
    hyphens: auto; 
    margin-top: 1.5em;
    word-break: break-word;
}

p {
    width: 100%; 
    text-wrap: wrap;
    line-height: 1.7;
    margin-block: 0.5lh;
    color: var(--white5-color); 
}

span {
    color: var(--white5-color); 
}


