:root {
    --orange-color: #FF4500;
    --prime1-color: #FF4500;
    --white1-color: #ffffff;
    --white2-color: #F2F3F2;
    --white3-color: #F5F5F5;
    --white4-color: #E2E5DE;
    --white5-color: #DEDEDE;
    --white6-color: #A6A6A6;
    --greys1-color: #9198a1;
    --greys2-color: #9198a1;
    --greys3-color: #9198a1;
    --greys4-color: #9198a1;
    --greys5-color: #9198a1;
    --greys6-color: #2D3444;
    --spacing: 10px;
}