{{- define "asset_hook" -}}
    {{- $.Scratch.Set "style_head" (dict "src" "css/head/home.scss" "dest" "css/head/home.scss")   -}}
    {{- $.Scratch.Set "style_pack" (dict "src" "css/pack/home.scss" "dest" "assets/css/home.scss") -}}
{{- end -}}


{{- define "main" -}}
    
    <div class="overlay">
        <article class="content">
            <h1 class="heading">{{ .Store.Get "github_repo_name" }} Wiki</h1>
            <div class="pages wikis"> {{ .Content }} </div>
        </article>
        <asside class="sidebar">
            {{ partial "view/sides/tocspage.html" . }}
            {{- partial "view/sides/appsvers.html" . -}}
        </asside>
    </div>

{{- end -}}
