{{- define "asset_hook" -}}
    {{- $.Scratch.Set "style_head" (dict "src" "css/head/page.scss" "dest" "css/head/page.scss")   -}}
	{{- $.Scratch.Set "style_pack" (dict "src" "css/pack/page.scss" "dest" "assets/css/page.scss") -}}
{{- end -}}


{{- define "main" -}}

	<div class="overlay">
		<article class="content page">
			<h1 class="heading">{{ .Title }}</h1>
			<div class="pages"> {{ .Content }} </div>
		</article>
		<asside class="sidebar">
			{{ partial "view/sides/packdata.html" . }}
			{{ partial "view/sides/teamdata.html" . }}
			{{ partial "view/sides/contdata.html" . }}
		</asside>
	</div>

{{- end -}}
