{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "pageterms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page -}}
{{- $taxo := .taxonomy -}}

{{- with $page.GetTerms $taxo -}}
	{{- $label := (index . 0).Parent.LinkTitle -}}
	<div>
		<div>{{ $label }}:</div>
		<ul>
		{{- range . -}}
			<li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
		{{- end -}}
		</ul>
	</div>
{{- end }}