{{- $logo := resources.Get "img/yuros.png" }}
{{- with .Site.Params.Profile.Logo -}}{{- $logo =  resources.Get . -}}{{- end -}}
{{- $logo = $logo.Resize "39x webp" -}}


{{- $name := "Rozard" -}}
{{- with .Site.Title -}}{{- $name = . -}}{{- end -}}


<a href="/" class="brand flex center-x">
    <img class="logo" src="{{ $logo.RelPermalink }}" width="39" height="39" alt="Organization Logo">
    {{- if eq .Site.Params.System.Name true -}}
        <h1 class="ml-10">{{ $name }}</h1>
    {{- end -}}
</a>