{{- define "asset_hook" -}}
	{{- $.Scratch.Set "style_head" (dict "src" "css/head/info.scss" "dest" "css/head/info.css")   -}}
	{{- $.Scratch.Set "style_pack" (dict "src" "css/pack/info.scss" "dest" "assets/css/info.css") -}}
{{- end -}}


{{- define "main" -}}

	<div class="overlay">
		<article class="content infolist">
			<div class="header">
				<h1 class="heading">About {{ .Store.Get "github_repo_name" }}</h1>
			</div>
			<div class="pages"> {{ .Content }} </div>
			{{- partial "view/chae/main.html" . -}}
		</article>
		<asside class="sidebar">
			{{- partial "view/sides/appsvers.html" . -}}
			{{- partial "view/sides/packdata.html" . -}}
		</asside>
	</div>

{{- end -}}
